/*!* Bootstrap v4.0.0-beta (https://getbootstrap.com) * Copyright 2011-2017 The Bootstrap Authors * Copyright 2011-2017 Twitter, Inc. * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)*/

html{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    font-family:sans-serif;
    line-height:1.15;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    -ms-overflow-style:scrollbar;
    -webkit-tap-highlight-color:transparent
}



body{
    margin:0;
    font-family:avenir next,helvetica neue,Arial,sans-serif;
    font-size:.875rem;
    font-weight:400;
    line-height:1.5;
    color:#000;
    background-color:#fff
}

.slick-slider{
    position:relative;
    display:block;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -ms-touch-action:pan-y;
    touch-action:pan-y;
    -webkit-tap-highlight-color:transparent
}
.slick-list{
    position:relative;
    overflow:hidden;
    display:block;
    margin:0;
    padding:0
}
.slick-list:focus{
    outline:0
}
.slick-slider .slick-track,.slick-slider .slick-list{
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0)
}
.slick-track{
    position:relative;
    left:0;
    top:0;
    display:block;
    margin-left:auto;
    margin-right:auto
}
.slick-track:before,.slick-track:after{
    content:"";
    display:table
}
.slick-track:after{
    clear:both
}
.slick-loading .slick-track{
    visibility:hidden
}
.slick-slide{
    float:left;
    height:100%;
    min-height:1px;
    display:none
}
[dir=rtl] .slick-slide{
    float:right
}
.slick-slide img{
    display:block
}
.slick-slide.slick-loading img{
    display:none
}
.slick-slide.dragging img{
    pointer-events:none
}
.slick-initialized .slick-slide{
    display:block
}
.slick-loading .slick-slide{
    visibility:hidden
}
.slick-vertical .slick-slide{
    display:block;
    height:auto;
    border:1px solid transparent
}

.intro-home{
    position:relative;
    color:#fff;
    min-height:calc(100vh - 46px)
}
@media(min-width:768px){
    .intro-home{
        min-height:calc(100vh - 120px)
    }
}
.intro-home .container{
    position:relative;
    z-index:100
}
.intro-home hr{
    border-color:#fff
}
@media(min-width:768px){
    .intro-home hr{
        margin-top:30px;
        margin-bottom:20px
    }
}
.intro-home .lead{
    color:#fff;
    font-family:avenir next,helvetica neue,Arial,sans-serif;
    font-size:.75rem;
    font-weight:500;
    letter-spacing:.1em;
    line-height:1.5;
    margin-bottom:30px
}
@media(min-width:768px){
    .intro-home .lead{
        font-size:1.25rem;
        margin-bottom:50px
    }
}
.intro-home .bg-intro{
    background-color:#000;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    height:auto;
    overflow:hidden
}
.intro-home .intro-video{
    background:#000
}
.embed-player-md{
    width:100%;
    height:56.25%;
    min-height:100vh;
    min-width:177.77vh;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    display:none
}
@media(min-width:768px){
    .embed-player-md{
        display:block
    }
}
.embed-player-sm{
    position:absolute
}
@media(min-width:768px){
    .embed-player-sm{
        display:none
    }
}
.container-intro-home{
    padding-top:25px
}

html{
    overflow-y:scroll
}
body{
    padding-top:46px;
    letter-spacing:.05em;
    overflow-x:hidden
}
@media(min-width:768px){
    body{
        padding-top:120px
    }
}
.bg-light{
    background:#fff!important
}

.bg-light-alt{
    background:#fafafa!important
}
.bg-dark{
    background:#000;
    color:#fff
}
.bg-dark .slideout{
    color:#000
}
