#home-video{
    position: absolute;
    top: 160px;
    left: 0px;
    width: max-content ;
    height: max-content ;
}

.video-container{
    width: 100% !important;
    height: 100% !important;
}

::-webkit-scrollbar {
    display: none !important;
}


.navbar a{
    color: black !important;
}

.navbar-shrink a {
    color: white !important;
}

.total{
    color: black !important;
    text-align: left;
    font-family:sans-serif;
    font-size: 20px !important;
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px
}

.proceed-to-checkout{
    width: 100% !important;
}

.white-over-black{
    background-color: #1b1e21 !important;
    color: white !important;
}